
/* :root {
  --Side-Bar-background-light: #f7faff;
  --active-text-light: #816578;
  --top-bar-light: #faaf43;
  --btn-hover-light: #faaf43;
  --bdy-background-light: #e9eaf5;
  --text-light: #101828;
  --link-hover-light: #e4e4f8;
  --active-btn-light: #7a5a78;
  --dash-card-light: #ffffff;
  --btn-background-light: #faaf43;
  --btn-text: #ffffff;

  --dash-card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --dash-card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--bdy-background-dark);
}
body{
  display: block;
  align-items: center;
  justify-content: center;
} */

/* .form {
  width: 100%;
  border-radius: 6px;
  border-radius: var(--border-radius-1);
  background-color: var(--dash-card-light);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
} */
/* .form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 5px 5px 5px;
}

.form form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
  background: var(--dash-card-light);
}
textarea{
  border-radius: 5px;
  border: 1px solid #faaf43;
}

.form .btnText {
  font-size: 14px;
  font-weight: 400;
}
.form .buttons .submit {
  display: flex;
  align-items: center;
}
.formFirst button i {
  margin: 0 6px;
  font-size: 20px;
}
.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto;
  grid-template-rows: 5rem auto;
} */
