
:root {
  --Side-Bar-background-light: #f7faff;
  --active-text-light: #816578;
  --top-bar-light: #faaf43;
  --btn-hover-light: #faaf43;
  --bdy-background-light: #e9eaf5;
  --text-light: #101828;
  --link-hover-light: #e4e4f8;
  --active-btn-light: #7a5a78;
  --dash-card-light: #ffffff;
  --btn-background-light: #faaf43;
  --btn-text: #ffffff;

  --dash-card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --dash-card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--bdy-background-dark);
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}




.Student-form {
  position: relative;
  max-width: 1100px;
  max-height: 700px;
  margin-left: 90px;
  margin-top: 100px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  border-radius: var(--border-radius-1);
  background-color: var(--dash-card-light);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.Student-form form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 5px 5px 5px;
}

.Student-form form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
  background: var(--dash-card-light);
}
.Student-form .input-field label {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-light);
}
.Student-form .input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color:#333;
  border-radius: 5px;
  border: 1px solid #faaf43;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}

.Student-form .btnText {
  font-size: 14px;
  font-weight: 400;
}
.Student-form .buttons .submit {
  display: flex;
  align-items: center;
}
.formFirst button i {
  margin: 0 6px;
  font-size: 20px;
}
.Student-form form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 200px;
  border: none;
  outline: none;
  color: var(--btn-text);
  border-radius: 0.4rem;
  margin: 5px 5px 5px 5px;
  background-color: #faaf43;
  transition: all 0.3s linear;
  cursor: pointer;
}

